.inside-div {
    box-shadow: .01rem .01rem .5rem black;
    transition: all .5s;
}


.projects .title {
    font-family: cursive;
    text-shadow: 0.01rem 0.01rem 0.5rem black;
}

.projects .subtitle {
    font-family: cursive;
    text-shadow: 0.01rem 0.01rem 0.5rem black;
}

.projects .button {
    transition: all 0.4s;
    height:30px; 
    width:100px; 
    margin: -10px -50px; 
    position:relative;
    top:50%; 
    left:50%;
}

.hidden {
    visibility: hidden;
}

.inside-div:hover {
    transform: translate(0rem, -.8rem) scale(1.1, 1.1);
}

.projects .button:hover {
    transform: translate(0rem, -.5rem);
}
